<ion-view view-title="Imprint">
    <!-- do you want padding? -->
    <ion-content class="padding">
        <div align="center">
            <h1><strong>mwaysolutions.com</strong><br> Impressum
            </h1>
            <h4>Angaben gemäß § 5 TMG</h4>
            <p>M-Way Solutions GmbH<br> Stresemannstraße 79<br> 70191 Stuttgart<br> Deutschland <br>
                <br> Vertreten durch:</p>
            <p>Volker Hahn, Geschäftsführer<br> Richard Malley, Geschäftsführer
                <p>Kontakt:</p>
            </p>
            <a href="tel:+497112525460">T: +49 (0) 711 25254 – 60</a><br> F: +49 (0) 711 25254 – 70<br> E: <a href="mailto:info@mwaysolutions.com">info@mwaysolutions.com</a><br>            W: <a href="http://www.mwaysolutions.com/">www.mwaysolutions.com</a><br> Umsatzsteuer-ID: DE240271880</p>
        </div>
    </ion-content>
</ion-view>