<ion-view view-title="Detail List">
  <!-- do you want padding -->
  <ion-content class="padding">
    <!-- Hier die  detailietren Tweets laden name, zeit, followers, etc -->
    <br>
    <div class="padding" >
      <img ng-src="{{ctrl.getTweet.user.profile_image_url}}">
      <h3>{{ctrl.getTweet.user.screen_name}}</h3>
    </div>
    <div class="padding item-divider ion-text-wrap"><h4>Tweet:</h4>
      <h5>{{ctrl.getTweet.text}}</h5>
    </div>
    <div><br></div>
    <div class=" padding item-divider"><h5>Date:</h5>
      <h6>{{ctrl.getTweet.user.created_at}}</h6>
    </div>
  </ion-content>
</ion-view>