<ion-view view-title="List">
  <ion-content >
    <!--<ion-spinner icon="spiral"></ion-spinner> -->
    <!-- content goes here -->

    <ion-list >
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ui-sref="main.listDetail">
        <!-- hier den Tweet laden  -->

        <div ng-controller="ListCtrl">
          <h2 ng-bind="list-ctrl">{{nameT}}</h2>

        </div>
        <!-- hier den autor -->
        <div>
          <h2></h2>
        </div>


        <!-- pfeil '>'-->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

        
        </ion-item>

    </ion-list>

  </ion-content>
</ion-view>