 <ion-tabs class="tabs-icon-top tabs-calm"> 

  <!-- List Tab -->
  <ion-tab title="Tweets" icon-off="ion-ios-list-outline" icon-on="ion-ios-list"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>



  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-help-outline" icon-on="ion-ios-help"
    ui-sref="main.about">
    <ion-nav-view name="tab-debug"></ion-nav-view>
  </ion-tab>



  <!-- Imprint Tab-->
  <ion-tab title="Imprint" icon-off="ion-ios-information-outline" icon-on="ion-ios-information"
    ui-sref="main.imprint">
    <ion-nav-view name="tab-imprint"></ion-nav-view>
  </ion-tab>


  <!-- Login Tab-->
  <ion-tab title="Logout" icon-off="ion-ios-person-outline" icon-on="ion-ios-person"
    ui-sref="main.logout">
    <ion-nav-view name="tab-logout"></ion-nav-view>
  </ion-tab>

</ion-tabs>

